<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.datasource">java:jboss/datasources/brokerDS</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
    <mapping class="pl.bb.broker.brokerdb.broker.entities.RolesEntity"/>
    <mapping class="pl.bb.broker.brokerdb.broker.entities.UsersEntity"/>
    <mapping class="pl.bb.broker.brokerdb.broker.entities.CompaniesEntity"/>
    <mapping class="pl.bb.broker.brokerdb.broker.entities.OffersEntity"/>
    <mapping class="pl.bb.broker.brokerdb.broker.entities.OfferDetailsEntity"/>
    <mapping class="pl.bb.broker.brokerdb.broker.entities.ReservationsEntity"/>
    <mapping class="pl.bb.broker.brokerdb.broker.entities.InvoicesEntity"/>
    <mapping class="pl.bb.broker.brokerdb.broker.entities.PaymentsEntity"/>
    <mapping class="pl.bb.broker.brokerdb.broker.entities.ServicesEntity"/>
    <mapping class="pl.bb.broker.brokerdb.broker.entities.FavoritesEntity"/>
  </session-factory>
</hibernate-configuration>